<!DOCTYPE html>
<html>
    <head>
        <title>Express Demo</title>
        <!-- NOTE: the "/" is what says to look at the path, not the same directory. -->
        <link rel="stylesheet" href="/app.css"> 
    </head>
    <body>
        